# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Rust
/target
/node_modules/
/website/.vitepress/cache/
/website/.vitepress/dist/
/website/public/schemas/

# Coverage
/lcov.info
